<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>إحصائيات</title>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"></link>
	<!--Load the AJAX API-->
	<script th:src="@{https://code.jquery.com/jquery-1.12.4.js}"></script>
  	<script th:src="@{https://code.jquery.com/ui/1.12.1/jquery-ui.js}"></script>
	<script type="text/javascript" th:src="@{https://www.gstatic.com/charts/loader.js}"></script>
    <script type="text/javascript" th:src="@{/js/analytics/analyticsAge.js}"></script>
    <script type="text/javascript" th:src="@{/js/analytics/analyticsSmokersGender.js}"></script> 
    <script type="text/javascript" th:src="@{/js/analytics/analyticsPregnantByAge.js}"></script>
    <script type="text/javascript" th:src="@{/js/analytics/analyticsPregnantByAlcholic.js}"></script>
    <script type="text/javascript" th:src="@{/js/analytics/analytics.js}"></script>
	 
</head>

<body>
	
	<nav class="navbar navbar-inverse">
			<div th:include="fragments :: brand"> </div>
			
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/user/login}"><span class="glyphicon glyphicon-log-in"></span> الدخول</a></li>
					<li><a th:href="@{/user/signup}"><span class="glyphicon glyphicon-user"></span> إنشاء حساب</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<span class="glyphicon glyphicon-briefcase"></span> حساب تجاري<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/user/signupBusiness}"> إنشاء حساب جديد</a></li>
							<li><a th:href="@{/doctor/login}"> االدخول كطبيب</a></li>
							<li><a href="#">Page 1-3</a></li>
						</ul>
					</li>
				</ul>
			</div>
			
	</nav>
		
	<!--Div that will hold the pie chart-->
    <div class="container">
		<button class="col-sm-2 col-sm-offset-1 analytics btn btn-default" id="age" type="submit">Patients By Age</button>
		<button class="col-sm-2 col-sm-offset-1 analytics btn btn-default" id="smoker" type="submit">Smokers Gender</button>
		<button class="col-sm-2 col-sm-offset-1 analytics btn btn-default" id="pregnantByAge" type="submit">Pregnants By Age</button>
		<button class="col-sm-2 col-sm-offset-1 analytics btn btn-default" id="pregnantByAlcholic" type="submit">Alcholic Pregnant</button>    
   </div>
    <div class="container">
    	<div id="chart_div"></div>
    </div>
</body>
</html>
