
/* navbar dropdown*/
.navbar-nav>li>.dropdown-menu{
background-color: black;
}
/* navbar dropdown element*/
.dropdown-menu>li>a{
    color: white;
}

/* form align text */
.form-horizontal .control-label {
    text-align: right;
}