<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"></link>
  <link rel="stylesheet" th:href="@{/css/bootstrap-rtl.css}"></link>
  <link rel="stylesheet" th:href="@{/css/style.css}"></link>
  <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js}"></script>
  <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</head>

<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header" th:fragment="brand">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">NEHR Project</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/user/login}"><span class="glyphicon glyphicon-log-in"></span> الدخول</a></li>
					<li><a th:href="@{/user/signup}"><span class="glyphicon glyphicon-user"></span> إنشاء حساب</a></li>
					<li><a th:href="@{/user/signupBusiness}"><span class="glyphicon glyphicon-briefcase"></span> إنشاء حساب تجاري</a></li>					
					<li><a th:href="@{/}"><span class="glyphicon glyphicon-log-out"></span> الخروج</a></li>
				</ul>
			</div>
		</div>
	</nav>

</body>

</html>
