<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>الرئيسية</title>
	<meta charset="utf-8"></meta>
	<th:block th:include="fragments :: head"></th:block>
</head>

<body>
	
	<nav class="navbar navbar-inverse">
			<div th:include="fragments :: brand"> </div>
			
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/user/login}"><span class="glyphicon glyphicon-log-in"></span> الدخول</a></li>
					<li><a th:href="@{/user/signup}"><span class="glyphicon glyphicon-user"></span> إنشاء حساب</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<span class="glyphicon glyphicon-briefcase"></span> حساب تجاري<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/user/signupBusiness}"> إنشاء حساب جديد</a></li>
							<li><a th:href="@{/doctor/login}"> الدخول كطبيب</a></li>
							<li><a href="#">Page 1-3</a></li>
						</ul>
					</li>
				</ul>
			</div>
			
	</nav>
		
	<div class="container">
	</div>
</body>
</html>
