<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>تسجيل الدخول</title>
	<meta charset="utf-8"></meta>
	<th:block th:include="fragments :: head"></th:block>
</head>

<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
		
			<div th:include="fragments :: brand"> </div>

			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li th:class="active"><a th:href="@{/user/login}"><span class="glyphicon glyphicon-log-in"></span> الدخول</a></li>
					<li><a th:href="@{/user/signup}"><span class="glyphicon glyphicon-user"></span> إنشاء حساب</a></li>
					<li><a th:href="@{/user/signupBusiness}"><span class="glyphicon glyphicon-briefcase"></span> إنشاء حساب تجاري</a></li>					
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<h1 class="text-success text-center">تسجيل الدخول</h1>
		<h4 class="text-center">أدخل بياناتك للدخول</h4>
	</div>

	<div class="container">
		<h1></h1>
	</div>

	<div class="container">
		<form class="form-horizontal" th:action="@{/user/login/}" method="post">
			<div class="form-group">
				<label class="control-label col-sm-1" for="email">رقم الموبايل</label>
				<div class="col-sm-11">
					<input type="tel" class="form-control" placeholder="رقم الموبايل" name="mobileNumber" id="mobileNumber"></input>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-1" for="pwd">كلمة السر</label>
				<div class="col-sm-11">
					<input type="password" class="form-control" id="pwd" name="password" placeholder="أدخل كلمة السر"></input>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 col-sm-offset-6">
					<button type="submit" class="btn btn-default">الدخول</button>
				</div>
			</div>
		</form>
	</div>

</body>
</html>
