<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>أدويتي</title>
	<meta charset="utf-8"></meta>
	<th:block th:include="fragments :: head"></th:block>
	<link rel="stylesheet" th:href="@{/css/autoComplete.css}"></link>
	<script th:src="@{https://code.jquery.com/jquery-1.12.4.js}"></script>
  	<script th:src="@{https://code.jquery.com/ui/1.12.1/jquery-ui.js}"></script>
  	<script type="text/javascript" th:src="@{/js/autoComplete.js}"></script>
</head>

<body>

	<nav class="navbar navbar-inverse">
		
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">NEHR Project</a>
			</div>
			
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/user/update/personal-info}"><span class="glyphicon glyphicon-log-out"></span> البيانات الشخصيه</a></li>
					<li><a th:href="@{/}"><span class="glyphicon glyphicon-log-out"></span> تسجيل الخروج</a></li>
				</ul>
				<form class="navbar-form navbar-left" th:action="@{/drug/find/prefix}" method="get">
					<div class="form-group">
						<input type="text" id="tags" class="form-control" name="prefix" placeholder="اكتب اسم الدواء"/>
					</div>
				<button type="submit" class="btn btn-default">بحث</button>
			</form>
			</div>
		</div>
	
	</nav>


	<div class="container">
		<h1 class="text-success text-center"></h1>
	</div>

	<div class="container">
		<form class="form-horizontal" th:action="@{/user/profile/mydrugs}" method="post">
			<div class="form-group">
				<div class="row">
					<div>
						<label class="control-label col-sm-2" for="drug-name">اسم الدواء</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="drug-name"
								name="name" placeholder=" اسم الدواء"></input>
						</div>
					</div>

				</div>
			</div>


			<div class="form-group">
				<div class="col-sm-3">
					<label>تاريخ البدأ</label>
				</div>
				
				<!--  
				<div class="col-sm-3">
					<label>اليوم</label> <input type="number" min="1" max="31"
						placeholder="اليوم" name="startDateDay"></input>
				</div>
				<div class="col-sm-3">
					<label>الشهر</label> <input type="number" min="1" max="12"
						placeholder="الشهر" name="startDateMonth"></input>
				</div>
				<div class="col-sm-3">
					<label>السنة</label> <input type="number" min="1920" max="2018"
						placeholder="السنة" name="startDateYear"></input>
				</div>
				-->
				
				<div class="col-sm-3">
					<label>السنة</label> <input type="date" min="1920-01-01"
						placeholder="التاريخ" name="startDate"></input>
				</div>
				
			</div>

			<div class="form-group">
				<div class="col-sm-3">
					<label>تاريخ الأنتهاء</label>
				</div>
				<div class="col-sm-3">
					<label>السنة</label> <input type="date" min="1920-01-01"
						placeholder="التاريخ" name="endDate"></input>
				</div>
			</div>


			<div class="form-group"></div>
			<div class="form-group"></div>
			<div class="form-group"></div>
			<div class="form-group"></div>
			<div class="form-group"></div>
			<div class="form-group"></div>

			<div class="form-group">
				<div class="col-sm-2 col-sm-offset-6">
					<button type="submit" class="btn btn-success">اضف الدواء</button>
				</div>
			</div>

		</form>
	</div>

	<div class="container">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>اسم الدواء</th>
						<th>من</th>
						<th>الي</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="drugObj,iterStat : ${drugs}">
						<td th:text="${iterStat.index +1}">1</td>
						<td th:text="${drugObj.name}">Anna</td>
						<td th:text="${drugObj.startDate}">Pitt</td>
						<td th:text="${drugObj.endDate}">Pitt</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>




</body>
</html>