<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>تسجيل الدخول</title>
	<meta charset="utf-8"></meta>
	<th:block th:include="fragments :: head"></th:block>
</head>

<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
		
			<div th:include="fragments :: brand"> </div>

			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/user/login}"><span class="glyphicon glyphicon-log-in"></span> الدخول</a></li>
					<li><a th:href="@{/user/signup}"><span class="glyphicon glyphicon-user"></span> إنشاء حساب</a></li>
					<li th:class="active"><a th:href="@{/user/signupBusiness}"><span class="glyphicon glyphicon-briefcase"></span> إنشاء حساب تجاري</a></li>					
				</ul>
			</div>
		</div>
	</nav>
	
	<h1  th:text="'passwords do not match'">passwords do not match</h1>
	
</body>

</html>