<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>البيانات الشخصية</title>
	<meta charset="utf-8"></meta>
	<th:block th:include="fragments :: head"></th:block>
</head>

<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">

			<div th:include="fragments :: brand"> </div>

			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/user/profile/mydrugs}"><span class="glyphicon glyphicon-log-out"></span> أدويتي</a></li>
					<li><a th:href="@{/}"><span class="glyphicon glyphicon-log-out"></span> تسجيل الخروج</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<h1 class="text-success text-center">البيانات الشخصية</h1>
	</div>

	<div class="container">
		<form class="form-horizontal"
			th:action="@{/user/update/personal-info}" method="post">
			<div class="form-group">
				<div class="row">
					<div class="col-sm-6">
						<label class="control-label col-sm-2" for="first_name">الاسم
							الأول</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="first_name"
								name="firstName" placeholder=" الاسم الأول"
								th:value="${patient.firstName}"></input>
						</div>
					</div>
					<div class="col-sm-6">
						<label class="control-label col-sm-2" for="last_name">اسم
							العائلة</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="last_name"
								name="lastName" placeholder=" اسم العائلة"
								th:value="${patient.lastName}"></input>
						</div>
					</div>
				</div>
			</div>


			<div class="form-group">
				<label class="control-label col-sm-1" for="email"
					style="font-size: 12px">البريد الإلكتروني</label>
				<div class="col-sm-11">
					<input type="email" class="form-control" id="email" name="email"
						placeholder=" البريد الإلكتروني" th:value="${patient.email}"></input>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-4" for="gender">النوع</label>

				<div class="col-sm-4">
					<label for="gender">ذكر</label> <input type="radio" name="gender"
						value="male" th:checked="${patient.gender} == 'male'"></input>
				</div>

				<div class="col-sm-4">
					<label for="gender">أنثي</label> <input type="radio" name="gender"
						value="female" th:checked="${patient.gender} == 'female'"></input>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-3">
					<label>تاريخ الميلاد</label>
				</div>
				<div class="col-sm-3">
					<label>اليوم</label> <input type="number" min="1" max="31"
						placeholder="اليوم" name="dateDay" th:value="${patient.dateDay}"></input>
				</div>
				<div class="col-sm-3">
					<label>الشهر</label> <input type="number" min="1" max="12"
						placeholder="الشهر" name="dateMonth"
						th:value="${patient.dateMonth}"></input>
				</div>
				<div class="col-sm-3">
					<label>السنة</label> <input type="number" min="1920" max="2018"
						placeholder="السنة" name="dateYear" th:value="${patient.dateYear}"></input>
				</div>
			</div>

			<div class="form-group"></div>
			<div class="form-group"></div>
			<div class="form-group"></div>
			<div class="form-group"></div>
			<div class="form-group"></div>
			<div class="form-group"></div>

			<div class="form-group">
				<div class="col-sm-2 col-sm-offset-6">
					<button type="submit" class="btn btn-success">حفظ</button>
				</div>
			</div>

		</form>
	</div>

</body>
</html>