<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>إنشاء حساب تجاري</title>
	<meta charset="utf-8"></meta>
	<th:block th:include="fragments :: head"></th:block>
</head>

<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">

			<div th:include="fragments :: brand"> </div>

			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/user/login}"><span class="glyphicon glyphicon-log-in"></span> الدخول</a></li>
					<li><a th:href="@{/user/signup}"><span class="glyphicon glyphicon-user"></span> إنشاء حساب</a></li>
					<li th:class="active"><a th:href="@{/user/signupBusiness}"><span class="glyphicon glyphicon-briefcase"></span> إنشاء حساب تجاري</a></li>					
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="container">
		<h1 class="text-success text-center">إنشاء حساب تجاري</h1>
	</div>

	<div class="container">
		<h1></h1>
	</div>

	<div class="container">
		<form class="form-horizontal" th:action="@{/user/signupBusiness/}" method="post">
			
			<div class="form-group">
				<label class="control-label col-sm-1" for="businessClientType">نوع الحساب</label>
				<div class="col-sm-11">
					<select name="businessClientType">
					   <option th:each="type : ${T(com.nehr.webserver.dto.BusinessClientType).values()}"
					          th:value="${type}" 
					          th:text="${type.displayName}">
					   </option>
					</select>
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-sm-1" for="userName">اسم المستخدم</label>
				<div class="col-sm-11">
					<input type="text" class="form-control" placeholder="ادخل اسم المتسخدم"
						name="userName" id="userName"></input>
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-sm-1" for="email"
					style="font-size: 12px">البريد الإلكتروني</label>
				<div class="col-sm-11">
					<input type="email" class="form-control" id="email" name="email" placeholder=" البريد الإلكتروني"></input>
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-sm-1" for="pwd">كلمة السر</label>
				<div class="col-sm-11">
					<input type="password" class="form-control" id="pwd"
						name="password" placeholder="ادخل كلمة السر"></input>
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-sm-1" for="pwdRepeat"
					style="font-size: 12px">إعادة كلمة السر</label>
				<div class="col-sm-11">
					<input type="password" class="form-control" id="pwdRepeat"
						name="passwordRepeat" placeholder="ادخل كلمة السر مرة أخرى"></input>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-2 col-sm-offset-6">
					<button type="submit" class="btn btn-default">إنشاء حساب تجاري</button>
				</div>
			</div>
			
		</form>
	</div>

</body>
</html>
