<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>الرئيسية</title>
<meta charset="utf-8"></meta>
<th:block th:include="fragments :: head"></th:block>
</head>

<body>

	<nav class="navbar navbar-inverse">

		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">NEHR Project</a>
			</div>

			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/doctor/}"><span
							class="glyphicon glyphicon-log-out"></span> البيانات الشخصيه</a></li>
					<li><a th:href="@{/doctor/patientList}"><span
							class="glyphicon glyphicon-log-out"></span> قائمة المرضى</a></li>
					<li><a th:href="@{/logout}"><span
							class="glyphicon glyphicon-log-out"></span> تسجيل الخروج</a></li>
				</ul>
				 
				<form class="navbar-form navbar-left" th:action="@{/doctor/askPermission}" method="get">
					<div class="form-group">
						<input type="text" class="form-control" name="nID" placeholder="اكتب الرقم القومي للمريض" />
					</div>
					<button type="submit" class="btn btn-default">بحث</button>
				</form>
				
			</div>
		</div>

	</nav>

	<div class="container">
		<p>مرحبا بك دكتور</p>
		<p th:text="${session.loggedInDoctorName}"></p>
	</div>




</body>
</html>