<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>قائمة المرضى</title>
	<meta charset="utf-8"></meta>
	<th:block th:include="fragments :: head"></th:block>
	<link rel="stylesheet" th:href="@{/css/autoComplete.css}"></link>
	<script th:src="@{https://code.jquery.com/jquery-1.12.4.js}"></script>
  	<script th:src="@{https://code.jquery.com/ui/1.12.1/jquery-ui.js}"></script>
</head>

<body>

	<nav class="navbar navbar-inverse">

		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">NEHR Project</a>
			</div>

			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/doctor/}"><span
							class="glyphicon glyphicon-log-out"></span> البيانات الشخصيه</a></li>
					<li><a th:href="@{/logout}"><span
							class="glyphicon glyphicon-log-out"></span> تسجيل الخروج</a></li>
				</ul>
				<!--   
				<form class="navbar-form navbar-left" th:action="@{/drug/find/prefix}" method="get">
					<div class="form-group">
						<input type="text" id="tags" class="form-control" name="prefix" placeholder="اكتب اسم الدواء" />
					</div>
					<button type="submit" class="btn btn-default">بحث</button>
				</form>
				-->
			</div>
		</div>

	</nav>

	<div class="container">
		<h1 class="text-success text-center"> قائمة المرضى</h1>
	</div>


	<div class="container">
	<div class="table table-responsive table-hover">
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>اسم المريض</th>
					<th>تاريخ الميلاد</th>
					<th>رقم الموبايل</th>
					<th>البريد اللإلكترونى</th>
					<th>الأدوية</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="patient,iterStat : ${patients}">
					<td th:text="${iterStat.index +1}">1</td>
					<td th:text="${patient.firstName + ' ' + patient.lastName}">Name</td>
					<td th:text="${patient.birthday}">birthday</td> 
					<td th:text="${patient.mobileNumber}">mobile</td>
					<td th:text="${patient.email}">email</td>
					<td><a th:href = "@{/user/profile/mydrugs/} + ${patient.nID}" th:text="الأدوية"></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

</body>
</html>