<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>تنفيذ الطلب</title>
	<meta charset="utf-8" http-equiv="Refresh" content="3; url=http://18.191.180.56:8080/doctor/patientList" ></meta>
	<th:block th:include="fragments :: head"></th:block>
	<link rel="stylesheet" th:href="@{/css/autoComplete.css}"></link>
	<script th:src="@{https://code.jquery.com/jquery-1.12.4.js}"></script>
  	<script th:src="@{https://code.jquery.com/ui/1.12.1/jquery-ui.js}"></script>
</head>

<body>

	<nav class="navbar navbar-inverse">

		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">NEHR Project</a>
			</div>

			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/doctor/}"><span
							class="glyphicon glyphicon-log-out"></span> البيانات الشخصيه</a></li>
					<li><a th:href="@{/logout}"><span
							class="glyphicon glyphicon-log-out"></span> تسجيل الخروج</a></li>
				</ul>
			</div>
		</div>

	</nav>

	<div class="container" th:switch="${response}">
		
		<div th:case="'success'">
			<h1 class="text-success text-center"> تم التنفيذ</h1>
		</div>
		
		<div th:case="'invalid'">
			<h1 class="text-success text-center"> فشل التنفيذ</h1>
			<p>There is no such ID = <span th:text="${nID}"></span> in the system, please check the ID again</p>
		</div>
		
		<div th:case="'waiting'">
			<h1 class="text-success text-center"> فشل التنفيذ</h1>
			<p>You will receive an email when patient with ID = <span th:text="${nID}"></span> responds to your request <br/> Thanks!</p>
		</div>
		
		<div th:case="'noEmail'">
			<h1 class="text-success text-center"> فشل التنفيذ</h1>
			<p>Patient with ID = <span th:text="${nID}"></span> has not registered his email, Please contact with the patient</p>
		</div>
		
	</div>
	
	
	<div class="container">
		<h2> سيتم الرجوع لقائمة المرضى خلال ثوان</h2>
	</div>
</body>
</html>